<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            display: flex;
            justify-content: space-between;
            background-color: aqua;
            border:3px solid;
            padding: 10px;
           
        }
        li{
            list-style: none;
           
        }
    </style>
</head>
<body>
    {%extends 'welcome.html'%}
    {% block content%}
    <h1>welcome to services page</h1>
    {% endblock%}  
</body>
</html>